{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}
{% block css %}
<style>
  img{
    width: 216px;
    height:228px;

  }
</style>
{% endblock %}



<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Home!</h1>
      <p>MY Awesome is an Indian e-commerce company that provide services related to house construction renovation services via its web portal. The group began in 2020 when Dishant Parewa and Smit Parewa founded the website MyAwesomeHome.com, a business-to-business portal to connect Indian manufacturers with buyers. The company is headquartered in Jaipur, Rajastha, India. The aim of the company is to provide the best services to it's costumers at a good price and best service in the country. Each Company with us is certified and best in the country .The Website also helps company to expand their market through web and easy.</p>
      
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <div class="image"></div>
       <img src="/static/dishant.jpg" alt="">
        <h2>Mr Dishant Parewa</h2>
        <h6 style="font-style: italic;">CEO, My Awesome Home</h6>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        
      </div>
      <div class="col-md-6">
        <img src="/static/smit.jpg" alt="">
        <h2>Mr Smit Parewa</h2>
        
        <h6 style="font-style: italic;">Co Manger, My Awesome Home</h6>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
       
      </div>
      
      
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
